
.logo {
    margin-bottom: 40px;
    letter-spacing: 0.7em;
}

.productgalleries{
    margin-top: 20px;

}

.slider{
    display:inline-block;
    overflow:hidden;
}

a:before {
    content:attr(rel);
    position:absolute;
    top:20px;
}

a{
    position:relative;
    top:0;
    -webkit-transition-duration: .25s;
}

a:hover {
    top:-20px;
    -webkit-transition-duration: .25s;
}
form  {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}
fieldset  {
    border: 1px solid #ececec;
    margin-bottom: 5px;
}
legend  {
    text-transform: uppercase;
}
.label  {
    width: 160px;
    float: left;
    text-align: right;
    margin-right: 10px;
    text-transform: uppercase;
    padding-top: 5px
}
input[type = text]  {
    margin-bottom: 5px;
}
input[type = submit]  {
    margin-top: 10px;
    margin-left: 170px;
    background-color: #fff;
    border: 1px solid #ececec;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 1em;
}
#creditCard  {
    margin-top: 5px;
}

